/* *{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

html{
    font-size: 62.5%;
}

/* --- Variables --- */

:root{
    --font-letter: Arial, Helvetica, sans-serif;
}

/* --- body --- */

body{
    margin: 0;
    padding: 0;
    font-size: 1.3;
    font-family: var(--font-letter)
}

a{
    text-decoration: none;
    cursor: pointer;
}

/* --- Header ---  */

header{
    /* modelo de caja  */
    width: 100%;
    height: 60px;
}

header nav{
    /* box model */
    display: flex;
    justify-content: flex-end;
}

header  nav .nav-right-section {
    /* box model */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
   

    /* visual */
    list-style: none;
}

nav .nav-right-section a{
    /* position  */
    margin: 10px;

    /* typography   */
    color: #000000;
}

nav .nav-right-section .menu-icon{
    /* box model */
    width: 25px;
    height: 25px;

    /* visual */
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

nav .nav-right-section img{
    /* Position  */
    margin-left: 10px;

    /* Visual */
    border-radius: 50%;
}

/* --- main ---  */

main{
    /* box model  */
    margin-top: 150px;
    text-align: center;
    
}